.repost {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.repost:hover span,
.repost.custom-fill:hover svg path {
  color: #00BA7C; /* Couleur de survol pour le span */
  fill: #00BA7C; /* Couleur de survol pour le chemin du SVG */
}

.repost .repost-custom {
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.repost:hover .repost-custom {
  padding: 8px;
  background: #3498db2f;
  border-radius: 50%;

}
