.reply {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}



.reply:hover span,
.custom-fill:hover svg path {
    color: #3498db; /* Couleur de survol pour le span */
    fill: #3498db; /* Couleur de survol pour le chemin du SVG */
}

